<header>
  <div class="header">
    <div class="left-header">
      <button type="button" class="btn btn-success topbtn">Offer of the day</button>
      <span> Get flat 35% off on orders over $50!</span>
    </div>

    <div class="right-header">
      <ul class="right-header-list  no-margin">
        <li>Login</li>
        <li>Register</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>

  <div class="navbar-area">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fullwidth">
      <a class="navbar-brand" >
        <img src="../assets/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/main">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">Men</a>
          </li>
          <li class="nav-item dropdown" id="lady-btn">
            <a class="nav-link dropdown-toggle" routerLink="/category"  id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Ladies
            </a>
            <div id="ladies-dropdown" class="dropdown-menu lady-category" aria-labelledby="navbarDropdown">
              <div class="row no-margin">
                <div class="col-md">
                  <h5 class="category-header">Clothing</h5>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> T shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Pants</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i>Accessories</p>
                </div>
                <div class="col-md">
                  <h5 class="category-header">Shoes</h5>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Trainers</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Sandal</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Hiking shoes</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Casual</p>
                </div>
                <div class="col-md">
                  <h5 class="category-header">Accessories</h5>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> T shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Pants</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i>Accessories</p>
                </div>
                <div class="col-md">
                  <h5 class="category-header">Trends</h5>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> T shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Shirt</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i> Pants</p>
                  <p class="category-item">
                    <i class="fa fa-angle-right"></i>Accessories</p>
                </div>
              </div>
            </div>

          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0 default-btn" type="button" routerLink="/shoppingcart">
            <i class="fa fa-shopping-cart"></i>
            View your cart
          </button>
        </form>
      </div>
    </nav>
  </div>
</header>
