@import '../app.component.scss';
.header {
  background-color: #555555;
  widows: 100%;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10px;
}

/* header apperance */

.navbar-area {
  border-bottom: 1px solid lightgray;
}

.navbar-area>nav {
  padding: 0 16px;
}

.topbtn {
  height: 30px;
  padding: 0 12px;
}

.right-header {
  text-align: right;
  width: 50%;
}

.left-header {
  align-self: flex-start;
  margin: 10px 20px;
  width: 50%;
}

.right-header-list {
  padding: 14px 0;
}

.right-header-list>li {
  margin-left: 10px;
  display: inline;
}

.right-header-list>li::after {
  content: " | "
}
.dropdown,
.dropup {
  position: static;
}

.lady-category {
  width: calc(100% - 100px);
  height: 250px;
  top: 70px;
  visibility: visible;
  left: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

#lady-btn:hover~#lady-category {
  display: block;
}



.category-header {
  text-align: center;
  border-bottom: 1px dotted gray;
  padding: 10px;
}

.category-item {
  margin-top: 15px;
  font-size: 14px;
  color: #999999;
  border-bottom: 1px solid lightgray;
  line-height: 20px;
  font-weight: unset;
}

.nav-item:hover {
  background-color: #4FBFA8;
}

.nav-item {
  line-height: 60px;
  font-weight: 700;
  color: grey
}
