<!--footer-->
<footer>
  <div class="footer">
    <div class="footer-container">
      <h6>Pages</h6>
      <ul>
        <li>About us</li>
        <li>Terms and conditions</li>
        <li>FAQ</li>
        <li>Contact us</li>
      </ul>
      <div class="sub-footer-1">
        <h6>User section</h6>
        <ul>
          <li>Login</li>
          <li>Register</li>
        </ul>
      </div>
    </div>
    <div class="footer-container">
      <h6>Top categories</h6>
      <h6>Men</h6>
      <ul>
        <li>T-shirts</li>
        <li>Shirts</li>
        <li>Accessories</li>
      </ul>
      <h6>Ladies</h6>
      <ul>
        <li>T-shirts</li>
        <li>Skirts</li>
        <li>Pants</li>
      </ul>
    </div>
    <div class="footer-container">
      <h6>Where to find us</h6>
      <p>Obaju Ltd. </p>
      <p>13/25 New Avenue </p>
      <p>New Heaven </p>
      <p>45Y 73J </p>
      <p>England </p>
      <p>Great Britain</p>
    </div>
    <div class="footer-container">
      <h6>Get the news</h6>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
        </div>
      </div>
      <p>Stay in Touch</p>
      <div class="brand-icon">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-steam-square" aria-hidden="true"></i>
        <i class="fa fa-glide" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </div>
    </div>

  </div>
  <div class="copy-right">
    <p> @NguyenNV side project</p>
    <p>Template by
      <span>Responsive Templates</span> with support from
      <span>NNguyen211</span>
    </p>
  </div>
</footer>

<!--end footer-->
