<section class="cart">
  <header class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb padding0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </header>
  <article class=" container">
    <div class="cart_content">
      <div class="cart_products">
        <div class="cart_content_items">
          <h3>Shopping carts</h3>
          <p>You currently have 3 item(s) in your cart.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Products</th>
                <th scope="col"></th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit price</th>
                <th scope="col">Discount</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items of shoppingCart">
                <td><img src="../assets/{{items.img}}" height="50" width="50" /></td>
                <td><a href="#">{{items.name}}</a></td>
                <td><input type="number" value="2" /></td>
                <td>${{items.price}}</td>
                <td>${{items.discount}}</td>
                <td>${{items.price - items.discount}}</td>
                <td (click)="removeFromCart(items)"><i class="fa fa-trash-o"></i></td>
              </tr>
            
            </tbody>
          </table>
          <div class="cart_content_footer">
            <button type="button" class="btn white-btn" routerLink="/category"><i class="fa fa-chevron-left" ></i> Continue shopping</button>
            <button type="button" class="btn default-btn" routerLink="/checkout"><i class="fa fa-chevron-right" ></i> Proceed to Checkout</button>
            <button type="button" class="btn white-btn"><i class="fa fa-refresh"></i> Update basket</button>
          </div>
        </div>
        <div class="relative_product">
            <h3 class="relative_product_header">Products you may like</h3>
            <div class="relative_product_content">
              <div class="relative_product_item">
                <div>
                  <div><img src="../assets/product1_2.jpg" height="250" width="180" /></div>
                </div>
                <p>Fur coat</p>
                <p>$143</p>
              </div>
              <div class="relative_product_item">
                <div>
                  <div><img src="../assets/product2_2.jpg" height="250" width="180" /></div>
                </div>
                <p>Fur coat</p>
                <p>$143</p>
              </div>
              <div class="relative_product_item">
                <div>
                  <div><img src="../assets/product3_2.jpg" height="250" width="180" /></div>
                </div>
                <p>Fur coat</p>
                <p>$143</p>
              </div>
              <div class="relative_product_item">
                <div>
                  <div><img src="../assets/product1_2.jpg" height="250" width="180" /></div>
                </div>
                <p>Fur coat</p>
                <p>$143</p>
              </div>
            </div>
      
          </div>
      </div>
      <app-order-summary></app-order-summary>
    </div>


    
  </article>
</section>
