@import '../app.component.scss';

.ck_main {
  display: flex;

  .ck_info {
    @include margin(10px);
    @extend %box-shadow;
    width: 72%;
    padding: 20px;
    height: fit-content;

    .nav-tabs {
      border-bottom: 1px solid $color;

      li {
        width: 25%;
        text-align: center;
        color: white;
        font-size: 14px;

        .active {
          padding: 5px 0;
          color: white;
          background-color: $color;
          border: 1px solid $color;
          border-radius: unset;
        }

        a {
          color: lightgrey;
          padding: 0;
        }

        a:hover {
          border: unset;
        }
      }
    }


    .tab-pane {
      padding: 10px 0;
      height: fit-content;
      .address_tab_footer{
        margin-top: 30px;
      }
      .delivery_methods{
        display: flex;
        text-align: center;
        flex-flow: row;
        flex-wrap: wrap;
        .delivery_methods_items{
          width: 30%;
          padding: 20px 0;
          margin: 10px;
          border:1px solid lightgrey;
          p{
            border-bottom:1px solid lightgrey;
            padding: 0 10px;
          }
        }
      }
      .payment_methods_item{
        padding: 10px;
        line-height: 20px;
        margin: 5px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }
    }
  }
}
