<section class="ck">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb padding0">
        <li class="breadcrumb-item"><a href="#">address</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
  <article class="ck_main container">
    <div class="ck_info">
      <h1>Check out</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
            aria-selected="true"><i class="fa fa-map-marker"></i><br>Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery"
            aria-selected="false"><i class="fa fa-truck"></i><br>Delivery Method</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
            aria-selected="false"><i class="fa fa-money"></i><br>Payment Method</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order"
            aria-selected="false"><i class="fa fa-eye"></i><br>Order review</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="address" role="tabpanel" aria-labelledby="address-tab">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First Name</label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Password</label>
                <input class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Company</label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Street</label>
                <input class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>City</label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label>Zip</label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>Country</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
          </form>
          <div class="address_tab_footer">
            <button type="button" class="btn white-btn left"><i class="fa fa-chevron-left"></i> Back to basket</button>
            <button type="button" class="btn default-btn right"> Continue to Delivery Method <i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
          <div class="delivery_methods">
            <div class="delivery_methods_items">
              <h4>Standard Delivery. </h4>
              <p> Expected to deliver within 1-5 days after
                your item is shipped. Free</p>
              <div>
                <input type="radio" name="gender" value="male"><br>
              </div>
            </div>
            <div class="delivery_methods_items">
              <h4>Postal Delivery. </h4>
              <p>Expected to deliver within 1-7 days after your item is shipped. Free</p>
              <div>
                <input type="radio" name="gender" value="male"><br>
              </div>
            </div>
            <div class="delivery_methods_items">
              <h4>Standard Delivery. </h4>
              <p> Expected to deliver within 1-5 days after
                your item is shipped. Free</p>
              <div>
                <input type="radio" name="gender" value="male"><br>
              </div>
            </div>
          </div>
          <div class="address_tab_footer">
            <button type="button" class="btn white-btn left"><i class="fa fa-chevron-left"></i> Back to basket</button>
            <button type="button" class="btn default-btn right"> Continue to Payment Method <i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="tab-pane" id="payment" role="tabpanel" aria-labelledby="payment-tab">
          <div class="payment_methods">
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-ccamex"></i> Amex
            </div>
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-cc-paypal"></i> Paypal
            </div>
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-cc-dinners-club"></i> Dinners club
            </div>
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-google-wallet"></i> Google wallet
            </div>
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-cc-jcb"></i> JCB
            </div>
            <div class="payment_methods_item">
              <input type="radio" name="payment" value="">
              <i class="fa fa-cc-mastercard"></i> Master card
            </div>
          </div>
          <div class="address_tab_footer">
            <button type="button" class="btn white-btn left"><i class="fa fa-chevron-left"></i> Back to basket</button>
            <button type="button" class="btn default-btn right"> Continue to order review <i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="tab-pane" id="order" role="tabpanel" aria-labelledby="order-tab">...</div>
      </div>
    </div>
    <app-order-summary></app-order-summary>
  </article>
</section>
