<section class="ck">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb padding0">
        <li class="breadcrumb-item"><a href="#">address</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
  <article class="ck_main container">
    <div class="ck_info">
      <h1>Check out</h1>
      <ul class="co_tab">
        <li [ngClass] = "activeTab === constProgress.Address ? 'active' : ''">
          <a id="address-tab"><i class="fa fa-map-marker"></i><br>Address</a>
        </li>
        <li [ngClass] = "activeTab === constProgress.Delivery ? 'active' : ''">
          <a id="delivery-tab"><i class="fa fa-truck"></i><br>Delivery Method</a>
        </li>
        <li [ngClass] = "activeTab === constProgress.Payment ? 'active' : ''">
          <a id="payment-tab"><i class="fa fa-money"></i><br>Payment Method</a>
        </li>
        <li [ngClass] = "activeTab === constProgress.Overview ? 'active' : ''">
          <a id="order-tab"><i class="fa fa-eye"></i><br>Order review</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- <app-co-address></app-co-address> -->
        <!-- <app-co-delivery-method></app-co-delivery-method> -->
        <ng-template #dynamicComponent></ng-template>


        <div class="tab-pane" id="order" role="tabpanel" aria-labelledby="order-tab">...</div>
      </div>
    </div>
    <app-order-summary></app-order-summary>
  </article>
</section>
