<div class="left-container">
  <div class="category-navigate">
    <p>Categories</p>
    <b>Men</b>
    <ul>
      <li>T-shirt</li>
      <li>Shirts</li>
      <li>Pants</li>
      <li>Accessories</li>
    </ul>
    <b>Ladies</b>
    <ul>
      <li>T-shirt</li>
      <li>Shirts</li>
      <li>Pants</li>
      <li>Accessories</li>
    </ul>
    <b>Kids</b>
    <ul>
      <li>T-shirt</li>
      <li>Shirts</li>
      <li>Pants</li>
      <li>Accessories</li>
    </ul>
  </div>

  <div class="filter">
    <div class="filter-header">
      <b> Brands</b>
      <button><i class="fa fa-times" aria-hidden="true"></i> clear</button>
    </div>
    <ul>
      <li><input type="checkbox"> Armani (10)</li>
      <li><input type="checkbox"> Gucci (10)</li>
      <li><input type="checkbox"> Channel (10)</li>
      <li><input type="checkbox"> Bubbery (10)</li>
    </ul>
    <button class="btn btn-success btn-sm default-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Apply</button>
  </div>

  <div class="filter">
    <div class="filter-header">
      <b> Colors</b>
      <button><i class="fa fa-times" aria-hidden="true"></i> clear</button>
    </div>
    <ul>
      <li><input type="checkbox"><span></span> White (10)</li>
      <li><input type="checkbox"><span></span> Blue (10)</li>
      <li><input type="checkbox"><span></span> Green (10)</li>
      <li><input type="checkbox"><span></span> Yellow (10)</li>
    </ul>
    <button class="btn btn-success btn-sm default-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Apply</button>
  </div>
</div>