<section class="detail">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb padding0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>
  <article class="container detail_content">
    <app-sidebar></app-sidebar>

    <div class="detail_pro">
      <div class="container">
        <div>
          <img src="../../assets/product1_2.jpg" height="600" width="400">
        </div>
        <div>
          <div>
            <h1>White Blouse Armani</h1>
            <p>$124.00</p>
            <button type="button" class="btn white-btn"><i class="fa fa-heart"></i>Add to wishlist</button>
            <button type="button" class="btn btn-info default-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart</button>
          </div>
          <div>
            <img src="../../assets/product1_2.jpg" height="100" width="100"><br>
            <img src="../../assets/product1_2.jpg" height="100" width="100"><br>
            <img src="../../assets/product1_2.jpg" height="100" width="100"><br>
          </div>
        </div>
      </div>
      <div class="pro_detail">
        <h5>Product detail</h5>
        <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
        <h5>Material & care</h5>
        <ul>
          <li>Polyester</li>
          <li>Machine wash</li>
        </ul>
        <h5>Size & Fit</h5>
        <ul>
          <li>Regular fit</li>
          <li>The model (height 5'8" and chest 33") is wearing a size S</li>
        </ul>
        <div class="pro_detail_trend">
          <i>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</i>
        </div>
        <div>
          <p>Share</p>
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-google-plus"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>





  </article>
</section>
